/* import */
@import './variable';

body {

    color: #ffffff;
    background-color: $blackgray;
    font-family: 'Roboto', sans-serif;

    .signup-form {

        width: 450px;
        margin: 0 auto;
        padding: 37px 0;
        font-size: 15px;

        h2 {
            color: $white;
            margin: 0 0 5px;
            position: relative;
            text-align: center;
            font-size: 1.75em;
            font-family: 'Roboto Slab', serif;
        }

        .hint-text {
            color: #999;
            margin-bottom: 30px;
            text-align: center;
        }

        form {
            color: #999;
            border-radius: 3px;
            margin-bottom: 15px;
            background-image: $gamingcolor;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px 30px 0.5rem 30px;

            a {
                color: #5cb85c;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .form-group {

            margin-bottom: 20px;

            .form-control, .btn {    
                border-radius: 0;
            }

            .form-control {
                height: 40px;
                box-shadow: none;
                color: $blackgray;

                &:hover {
                    border-color: #5cb85c;
                }
            }

            a {
                margin-left: 1rem;
            }

        }

        .btn {
            font-size: 0.9em;
            font-weight: bold;		
            min-width: 140px;
            outline: none !important;
        }

        a {
            color: #fff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        .card {
            margin: -30px -30px 30px -30px !important;
            border: 0;
            border-radius: 0;

            img {
                border-radius: 0;
            }

            .card-img-overlay {
                background-color: rgba(black, 0.75);
                border-radius: 0;
            }
        }

    }

    /* MAIL SECTION */
    .mail-card {
        border-radius: 0;
        border: none;
        margin: 4rem auto;
        width: 40%;

        .card {
            border: none;
            border-radius: 0;

            img {
                border: none;
                border-radius: 0;
            }

            .card-img-overlay {
                background-color: rgba(black, 0.6);
                border: none;
                border-radius: 0;
                padding: 0;

                .header {
                    background-color: $blackgray;
                    box-shadow: 0 -2px 8px black;
                    margin: 0;
                    padding: 1.25rem;

                    h4 {
                        font-family: 'Roboto Slab', serif;
                        font-size: 1.75em;
                        color: $skinbrown;
                    }
                }
            }

        }

        .card-body {
            color: black;
        }

        .list-group-flush {
            border-top: 1px solid $blackgray;
        }
    }

}